/* Recipes Grid */
ul.recipe-container {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  min-height: 40vh;
  list-style-type: none;
  justify-items: center;
  align-items: center;
}

ul.recipe-container > li {
  background-color: rgb(255, 249, 243, 0.6);
  border-radius: 10px;
  margin: 10px;
  padding: 15px;
}

ul.recipe-container > li > img.recipe-img {
  display: flex;
  margin: auto;
  border-radius: 10px;
  width: 70%;
  height: 200px;
}
ul.recipe-container > li > img.recipe-img:hover {
  cursor: pointer;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
.recipe-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.recipe-description {
  display: flex;
}
.recipe-description > p {
  margin: 15px;
  font-size: 1rem;
}
.buttons {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.details-btn {
  border-radius: 10px;
  background-color: #333;
  margin-left: 25px;
  color: #fff;
  cursor: pointer;
  width: 100%;
  height: 40px;
}
.details-btn:hover {
  transform: scale(1.1);
  transition: all 0.3s ease;
}
.nothing-p {
  font-size: 2rem;
  grid-column: 1 / -1; /* Hace que ocupe todo el ancho del grid */
  text-align: center;
  margin: auto;
  justify-self: center;
  align-self: center;
}
#favorite-btn {
  font-size: 4rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
#favorite-btn:hover {
  transform: scale(1.1);
}
.favorite {
  color: gold;
}
.not-favorite {
  color: #333;
}
