.recipe-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.header {
  display: flex;
  flex-direction: column;
}
.header > h3 {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 15px;
}
.header > img {
  max-width: 800px;
  height: auto;
  border-radius: 5px;
}
.header > img:hover {
  transform: scale(1.05);
  cursor: pointer;
  transition: all ease 0.3 ease-in-out;
}
.ingredients {
  list-style: none;
}
.ingredients > h3 {
  font-size: 1.75rem;
}
.cooking-details {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  justify-content: flex-start;
  align-items: center;
}
